<%- include('template/head') -%>
<%- include('template/header') -%>
<%- include('template/top_nav') -%>
<!-- page content -->
<h1>404 page not found</h1>  
<!-- /page content -->
<%- include('template/footer') -%>
<%- include('template/foot') -%>